:root {
  --background-color: #222831;
  --darkbackground-color: #171c22;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--darkbackground-color);
  color: var(--white-color);
}

.postion-absolute {
  position: absolute;
}

.postion-relative {
  position: relative;
}

.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-1 {
  margin: 1rem;
}

.p-3 {
  padding: 3rem;
}
.margin-top-1 {
  margin-top: 1rem;
}
.margin-top-2 {
  margin-top: 2rem;
}
.margin-top-3 {
  margin-top: 3rem;
}

.margin-top-4 {
  margin-top: 4rem;
}
.darkyellow {
  color: var(--darkyellow-color);
}

/* RULES CONTAINER */

.rules-container {
  border-color: var(--darkyellow-color);
  width: 80%;
}

/* questions-box */

.question-box {
  border: 2px solid var(--darkyellow-color);
  background-color: var(--background-color);
  width: 80%;
  height: auto;
  padding: 1rem;
}

.quiz-status {
  width: 60%;
}

.options {
  gap: 15px;
}

.option {
  border: 2px solid var(--darkyellow-color);
  border-radius: 3rem;
  background-color: var(--darkbackground-color);
  padding: 1rem 5rem;
  font-size: 1.5rem;
}

.correct-ans {
  background-color: var(--basegreen-color);
}

.wrong-ans {
  background-color: var(--basered-color);
}
